body {
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    padding: 10px;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
}

ul {
    max-width: auto;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.2;
}

 ul > li {
    margin: 16px 0;  
 }

figcaption {
    text-align: center;
    font-family: Courier, sans-serif;
    font-size: 17px;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0;
}

h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

#text {
    text-align: center;
    display: inline;
    color: transparent;
    background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    transition: 1.5s linear;
    background-repeat: no-repeat;
    background-size: 0%;
    font-size: 12;
    align-items: center;
    justify-content: center;
}

#text:hover{
    background-size: 100%;
}

main {
    padding: 15px;
    margin: 30px 8px;
    border-radius: 5px;
    background-color: darkorchid;
}

image {
    border-radius: 50%;
    height: 33%;
    margin-block-end: 1.7rem;
    width: 33%;
    
}

div{
    text-align: center;
    justify-content: center;
    align-items: center;
}

section {
    text-align: left;
}

blockquote > p {
    text-align: left;
}

blockquote {
    font-size: 10px;
    font-family: sevillana;
    text-align: left;
}
